<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="collegeapps.myassignments" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dit_logo_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Splash Screen Activity to start first-->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Main Screen Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"

            >

            <intent-filter>
                <action android:name="collegeapps.myassignments.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Create Screen Activity -->
        <activity
            android:name=".CreateActivity"
            android:label="Create Assignment"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />


        </activity>

        <!-- View Screen Activity -->
        <activity
            android:name=".ViewActivity"
            android:label="View Assignments"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />


        </activity>
    </application>

</manifest>
